<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
          "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>

<head>
    <meta http-equiv="Content-Type"
          content="text/html; charset=ISO-8859-2" />
    <style type="text/css">
        ins {background-color:#aaffaa}
        del {background-color:#ffaaaa}
    </style>
</head>

<body>
  
  <div>
  {% for resource, diff in resources %}
  <h1><a href="{{ckan_url}}/dataset/{{resource.name}}">{{resource.title}}</a></h1>
  <h2><a href="{{ckan_url}}/organization/{{resource.organization.name}}">{{resource.organization.title}}</a></h2>
  {{ diff | safe }}
  {% endfor %}
  </div>
</body>

</html>
